# ETF Orca 앱 API 계약 (뼈대). 정본은 이 파일이다. 노션 PRD 의 정책·데이터 모델은 참고.
#
# 규약(2026-09-28 확정)
# - 인증: 회원 Bearer(액세스 JWT + DB 저장 리프레시), 게스트 X-Device-Id. 둘 다 있으면 토큰 우선.
# - 응답 봉투: libs/jvm-common ApiResponse {isSuccess, code, message, result}. 실패도 같은 봉투.
# - 에러 코드: COMMON400/401/403/500 은 jvm-common, 도메인 코드는 app-api AppErrorStatus 소유.
#   앱은 code 를 번역 없이 그대로 분기한다. 이 파일의 x-error-codes 가 코드 목록의 SSOT.
# - 페이지네이션: 커서. ?cursor=&size=, 응답 result 에 items[] 와 nextCursor(마지막이면 null).
# - 투표: PUT 응답은 현황을 싣지 않는다(쓰기 경로에 읽기를 붙이지 않음). 앱은 성공 후 GET count.
# - 스키마 이름과 필드는 app-ui src/api/types.ts 에서 옮기되 다음을 뺐다(2026-09-28 결정).
#   표시용 색(logoBg·bg·avatarBg)은 앱이 theme key·handle 로 매핑한다. 시각은 전부 ISO 8601 이고
#   상대 문구("3분 전")·기준 문구("오늘 08:30 기준")는 앱이 만든다.
# - 서버 없이 앱에서 끝내는 것: 최근 본 ETF(기기 저장), 용어 힌트(앱 번들). 로그아웃은 서버가 리프레시 토큰을 지운다.
# - 합친 것: etf.list+search → GET /etfs?q=, community.feed/mine/posts/hot → GET /posts?scope=&code=.
# - Axis 는 영문 코드(issue·chart·macro·value·flow). 라벨은 앱이 가진다.
# - 정책 위반은 도메인 코드 + 400. 앱이 해결 가능한 위반은 x-error-codes 의 action 대로 화면 이동한다.
#
# 출처: app-ui src/api/client.ts(13 도메인 52 메서드), src/api/types.ts.

openapi: 3.1.0
info:
  title: ETF Orca App API
  version: 0.1.0
  description: ETF 전망·분석·커뮤니티 B2C 앱 API. 뼈대 단계.
servers:
  - url: https://etforca.edgesignal.dev/api/v1
    description: dev (ADR-0056)
  - url: http://localhost:8080/api/v1
    description: local compose

tags:
  - name: auth
    description: 로그인·가입·토큰. 회원은 Bearer, 게스트는 X-Device-Id
  - name: member
    description: 내 계정. 프로필·면책 동의·탈퇴
  - name: onboarding
    description: 첫 진입 테마·ETF 선택 저장
  - name: home
    description: 홈 화면 전용 조합 응답
  - name: etf
    description: ETF 마스터·시세·차트·장중 설명
  - name: watch
    description: 관심 그룹과 구성원. 게스트는 디바이스 단위 저장
  - name: theme
    description: 테마 목록
  - name: explore
    description: 탐색 순위
  - name: analysis
    description: AI 일간 분석과 요인·지표 페이지. 미생성은 ANALYSIS4001
  - name: community
    description: 글·답글·좋아요·투표. 쓰기는 회원
  - name: notification
    description: 알림 목록·읽음

# 도메인 에러 코드 목록. 형식 {도메인}{4|5}{순번}(4 클라이언트·5 서버 오류, 순번은 도메인 안 단조 증가). HTTP 상태는 http 필드. app-api AppErrorStatus enum 과 1:1.
# action 은 앱이 해결 가능한 위반에서 이동할 화면. 없으면 message 를 보여주고 끝.
# 행별 본문을 채우며 추가한다.
x-error-codes:
  COMMON400: { http: 400, message: 잘못된 요청입니다. }
  COMMON401: { http: 401, message: 인증이 필요합니다., action: login }
  COMMON403: { http: 403, message: 금지된 요청입니다. }
  COMMON500: { http: 500, message: "서버 에러, 관리자에게 문의 바랍니다." }
  ETF4001: { http: 404, message: 없는 ETF 입니다. }
  ANALYSIS4001: { http: 404, message: 분석이 아직 준비되지 않았습니다. }   # 앱 Pending 화면 분기. 없는 ETF(ETF4001)와 구분
  POST4001: { http: 404, message: 없는 글입니다. }
  POST4002: { http: 400, message: 관심 ETF 에 대해서만 글을 쓸 수 있습니다., action: watch-edit }   # PRD 커뮤니티 정책
  POST4003: { http: 400, message: 태그는 최대 3개입니다. }
  WATCH4001: { http: 400, message: 기본 관심 그룹은 지울 수 없습니다. }
  WATCH4002: { http: 400, message: 관심 그룹은 최대 10개입니다. }   # PRD 관심 정책
  MEMBER4002: { http: 409, message: 이미 가입된 이메일입니다., action: login }
  MEMBER4003: { http: 404, message: 없는 회원입니다. }
  MEMBER4004: { http: 400, message: 자기 자신은 차단할 수 없습니다. }
  MEMBER4005: { http: 404, message: 가입되지 않은 이메일입니다. }   # 가입 응답(MEMBER4002)이 이미 가입 여부를 드러내 재설정에서도 숨기지 않음
  AUTH4001: { http: 401, message: 이메일 또는 비밀번호가 맞지 않습니다. }
  AUTH4002: { http: 400, message: 코드가 맞지 않거나 만료되었습니다. 다시 요청해 주세요. }   # 틀림·만료·시도 초과 구분 없음
  VOTE5001: { http: 503, message: 투표 저장소를 사용할 수 없습니다. }   # 기존 AppErrorStatus

security:
  - bearerAuth: []
  - deviceId: []

paths:
  # ── auth ─────────────────────────────────────────────
  /auth/login:
    post:
      tags: [auth]
      operationId: authLogin
      summary: 이메일 로그인
      security: []
      requestBody: { $ref: '#/components/requestBodies/EmailLogin' }
      responses:
        '200': { $ref: '#/components/responses/AuthResult' }
        '401': { $ref: '#/components/responses/Error' }   # AUTH4001
  /auth/social:
    post:
      tags: [auth]
      operationId: authSocial
      summary: 소셜 로그인 (Apple·Google)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, idToken]
              properties:
                provider: { type: string, enum: [apple, google] }
                idToken: { type: string, description: 플랫폼이 발급한 id 토큰. 서버가 검증 }
      responses:
        '200': { $ref: '#/components/responses/AuthResult' }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 잘못된 파라미터
  /auth/signup:
    post:
      tags: [auth]
      operationId: authSignup
      summary: 이메일 회원가입
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, nick]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                nick: { type: string }
      responses:
        '200': { $ref: '#/components/responses/AuthResult' }
        '409': { $ref: '#/components/responses/Error' }   # MEMBER4002
  /auth/password-reset:
    post:
      tags: [auth]
      operationId: authRequestPasswordReset
      summary: 비밀번호 재설정 코드 발송
      description: 가입된 이메일이면 6자리 코드(10분 유효, 시도 5회)를 메일로 보낸다. 미가입 이메일은 MEMBER4005. 60초 안의 재요청은 같은 200 이고 메일은 보내지 않는다. 발송은 비동기.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 이메일 형식
        '404': { $ref: '#/components/responses/Error' }   # MEMBER4005
  /auth/password-reset/confirm:
    post:
      tags: [auth]
      operationId: authConfirmPasswordReset
      summary: 비밀번호 재설정 확정
      description: 코드가 맞으면 비밀번호를 바꾸고 코드를 지우며 회원의 리프레시 토큰을 전부 폐기한다. 앱은 성공 후 로그인 화면으로 돌아간다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code, newPassword]
              properties:
                email: { type: string, format: email }
                code: { type: string }
                newPassword: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '400': { $ref: '#/components/responses/Error' }   # AUTH4002, COMMON400
  /auth/logout:
    post:
      tags: [auth]
      operationId: authLogout
      summary: 로그아웃
      description: 리프레시 토큰을 DB 에서 지운다. 앱은 성공 후 토큰과 기기 게스트 데이터를 초기화한다(PRD 게스트 데이터 정책).
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /auth/refresh:
    post:
      tags: [auth]
      operationId: authRefresh
      summary: 토큰 갱신
      description: 노션 참고 항목. client.ts 에는 없고 fetch 계층이 쓴다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200': { $ref: '#/components/responses/AuthResult' }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 잘못된 파라미터

  # ── member ─────────────────────────────────────────────
  /me:
    get:
      tags: [member]
      operationId: memberMe
      summary: 내 정보 조회
      security: [{ bearerAuth: [] }]
      responses:
        '200': { $ref: '#/components/responses/Me' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
    patch:
      tags: [member]
      operationId: memberUpdate
      summary: 프로필 수정
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MePatch' }
      responses:
        '200': { $ref: '#/components/responses/Me' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
    delete:
      tags: [member]
      operationId: memberDeleteAccount
      summary: 회원 탈퇴
      description: 리프레시 토큰은 즉시 폐기. 이미 발급된 액세스 토큰은 만료까지 서명 검증만으로 통과하며 회원 조회가 있는 엔드포인트만 COMMON401
      security: [{ bearerAuth: [] }]
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /me/disclaimer:
    post:
      tags: [member]
      operationId: memberAcceptDisclaimer
      summary: 면책 고지 동의
      security: [{ bearerAuth: [] }]
      responses:
        '200': { $ref: '#/components/responses/Me' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401

  # ── onboarding ───────────────────────────────────────
  /onboarding/complete:
    post:
      tags: [onboarding]
      operationId: onboardingComplete
      summary: 온보딩 완료 (테마·ETF 저장)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [themes, etfs]
              properties:
                themes: { type: array, items: { type: string } }
                etfs: { type: array, items: { $ref: '#/components/schemas/EtfCode' } }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401

  # ── home ─────────────────────────────────────────────
  /home/brief:
    get:
      tags: [home]
      operationId: homeBrief
      summary: 홈 브리프
      description: 화면 전용(BFF). 관심 그룹 기준 요약.
      parameters:
        - { name: group, in: query, schema: { type: string }, description: 관심 그룹 key. 없으면 기본 그룹 }
      responses:
        '200': { $ref: '#/components/responses/HomeBrief' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401

  # ── etf ──────────────────────────────────────────────
  /etfs:
    get:
      tags: [etf]
      operationId: etfList
      summary: ETF 목록·검색
      description: 전체 목록 또는 검색. 앱의 etf.list 와 etf.search 가 함께 쓴다. 최근 본 ETF 는 기기 저장(서버 없음).
      security: []
      parameters:
        - { name: q, in: query, schema: { type: string }, description: 이름·코드 검색어. 없으면 전체 }
      responses:
        '200': { $ref: '#/components/responses/EtfSummaryList' }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 잘못된 파라미터
  /etfs/{code}:
    get:
      tags: [etf]
      operationId: etfGet
      summary: ETF 요약
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      responses:
        '200':
          description: ETF 요약
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/EtfSummary' }
        '404': { $ref: '#/components/responses/Error' }   # ETF4001
  /etfs/{code}/chart:
    get:
      tags: [etf]
      operationId: etfChart
      summary: 가격 차트 (일봉)
      parameters:
        - { $ref: '#/components/parameters/EtfCode' }
        - { name: range, in: query, schema: { type: string, enum: [1W, 1M, 3M, 6M, 1Y], default: 1M }, description: 일봉 구간. 앱 화면에 선택 UI 가 없어 기본 1M 만 쓴다(앱 기본값 '1D' 는 연결 때 1M 으로 바꾼다) }
      responses:
        '200':
          description: 일봉 차트
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/ChartData' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
        '404': { $ref: '#/components/responses/Error' }   # ETF4001
  /etfs/{code}/move:
    get:
      tags: [etf]
      operationId: etfMove
      summary: 왜 움직였을까 (장중 설명)
      description: 왜 움직였을까 (장중 설명). 발행본이 없거나 summary 가 비어 있으면 ANALYSIS4001(앱은 준비 중 화면).
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      responses:
        '200':
          description: 움직임 설명
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/MoveInfo' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
        '404': { $ref: '#/components/responses/Error' }   # ETF4001 | ANALYSIS4001
  /etfs/{code}/detail:
    get:
      tags: [etf]
      operationId: etfDetail
      summary: 종목 정보 (구성 종목·테마·운용사)
      description: 화면 전용. 종목 정보 탭(구성 종목·테마·운용사).
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      responses:
        '200':
          description: 종목 정보
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/EtfDetailData' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
        '404': { $ref: '#/components/responses/Error' }   # ETF4001 | ANALYSIS4001

  # ── watch ────────────────────────────────────────────
  /watch-groups:
    get:
      tags: [watch]
      operationId: watchGroups
      summary: 관심 그룹 목록
      responses:
        '200':
          description: 관심 그룹 목록
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { type: array, items: { $ref: '#/components/schemas/WatchGroup' } }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
    post:
      tags: [watch]
      operationId: watchCreateGroup
      summary: 관심 그룹 생성
      description: 사용자 그룹 최대 10개 (PRD 정책, 초과 시 WATCH4002).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string }
      responses:
        '200':
          description: 생성된 그룹
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/WatchGroup' }
        '400': { $ref: '#/components/responses/Error' }   # WATCH4002
  /watch-groups/{group}:
    delete:
      tags: [watch]
      operationId: watchDeleteGroup
      summary: 관심 그룹 삭제
      description: 기본 그룹(base)은 삭제 불가. 그룹에 있던 종목은 기본 그룹에 유지 (PRD 정책).
      parameters: [{ $ref: '#/components/parameters/WatchGroup' }]
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '400': { $ref: '#/components/responses/Error' }   # WATCH4001
  /watch-groups/{group}/etfs:
    get:
      tags: [watch]
      operationId: watchList
      summary: 관심 그룹 ETF 목록
      parameters: [{ $ref: '#/components/parameters/WatchGroup' }]
      responses:
        '200': { $ref: '#/components/responses/EtfSummaryList' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
    put:
      tags: [watch]
      operationId: watchSetMembers
      summary: 관심 그룹 구성원 교체
      description: 그룹 구성원 전체를 순서 포함 교체.
      parameters: [{ $ref: '#/components/parameters/WatchGroup' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [codes]
              properties:
                codes: { type: array, items: { $ref: '#/components/schemas/EtfCode' } }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /etfs/{code}/watch-groups:
    get:
      tags: [watch]
      operationId: watchMembership
      summary: ETF 소속 그룹 조회
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      responses:
        '200':
          description: 이 ETF 가 담긴 그룹 key 목록
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { type: array, items: { type: string } }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
    put:
      tags: [watch]
      operationId: watchSetMembership
      summary: ETF 를 여러 그룹에 담기·빼기
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [groups]
              properties:
                groups: { type: array, items: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401

  # ── theme ────────────────────────────────────────────
  /themes:
    get:
      tags: [theme]
      operationId: themeList
      summary: 테마 목록
      security: []
      responses:
        '200':
          description: 테마 목록
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { type: array, items: { $ref: '#/components/schemas/Theme' } }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 잘못된 파라미터

  # ── explore ──────────────────────────────────────────
  /explore/rank:
    get:
      tags: [explore]
      operationId: exploreRank
      summary: AI 가 보는 오늘 순위
      security: []
      description: AI 가 보는 오늘 순위. 고정 목록이라 페이지네이션 없음.
      responses:
        '200':
          description: 순위
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { type: array, items: { $ref: '#/components/schemas/RankRow' } }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 잘못된 파라미터

  # ── analysis ─────────────────────────────────────────
  /etfs/{code}/analysis:
    get:
      tags: [analysis]
      operationId: analysisDaily
      summary: 일간 분석
      security: []
      parameters:
        - { $ref: '#/components/parameters/EtfCode' }
        - { name: date, in: query, schema: { type: string, format: date }, description: 없으면 최신 }
      responses:
        '200':
          description: 일간 분석
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/DailyAnalysis' }
        '404': { $ref: '#/components/responses/Error' }   # ETF4001 | ANALYSIS4001
  /etfs/{code}/analysis/factors/{axis}:
    get:
      tags: [analysis]
      operationId: analysisFactor
      summary: 요인 상세
      security: []
      parameters:
        - { $ref: '#/components/parameters/EtfCode' }
        - { $ref: '#/components/parameters/Axis' }
      responses:
        '200':
          description: 요인 상세
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/FactorPage' }
        '404': { $ref: '#/components/responses/Error' }   # ANALYSIS4001
  /etfs/{code}/analysis/metrics/{axis}:
    get:
      tags: [analysis]
      operationId: analysisMetric
      summary: 지표 페이지
      security: []
      parameters:
        - { $ref: '#/components/parameters/EtfCode' }
        - { $ref: '#/components/parameters/Axis' }
      responses:
        '200':
          description: 지표 페이지
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/MetricPage' }
        '404': { $ref: '#/components/responses/Error' }   # ANALYSIS4001

  # ── community ────────────────────────────────────────
  /posts:
    get:
      tags: [community]
      operationId: communityFeed
      summary: 글 목록
      description: |
        글 목록 하나로 통합. 앱의 community.feed(all|mine)·mine·posts(code)·hot 이 함께 쓴다.
        scope=all 전체 최신순, mine 요청자(회원 또는 게스트 디바이스)의 관심 ETF 글, hot 홈 인기글. code 를 주면 그 ETF 글만.
        회원 요청이면 그 회원이 차단한 작성자의 글은 빠진다.
      parameters:
        - { name: scope, in: query, schema: { type: string, enum: [all, mine, hot], default: all } }
        - { name: code, in: query, schema: { $ref: '#/components/schemas/EtfCode' } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200': { $ref: '#/components/responses/PostPage' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
    post:
      tags: [community]
      operationId: communityCreate
      summary: 글 작성
      security: [{ bearerAuth: [] }]
      description: 관심 ETF 에 대해서만 작성 가능(POST4002, 앱은 관심 편집으로 이동), 태그 최대 3개(POST4003).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body, tags]
              properties:
                body: { type: string, maxLength: 280 }
                tags: { type: array, maxItems: 3, items: { $ref: '#/components/schemas/EtfCode' } }
      responses:
        '200': { $ref: '#/components/responses/Post' }
        '400': { $ref: '#/components/responses/Error' }   # POST4002 | POST4003
  /posts/{id}:
    get:
      tags: [community]
      operationId: communityGet
      summary: 글 상세
      security: []
      description: 조회수 증가. 회원이 차단한 작성자의 글이면 blocked=true 를 붙여 그대로 준다(앱은 가림막 뒤에 표시).
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200': { $ref: '#/components/responses/Post' }
        '404': { $ref: '#/components/responses/Error' }   # POST4001
    delete:
      tags: [community]
      operationId: communityRemove
      summary: 글 삭제
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '403': { $ref: '#/components/responses/Error' }   # 남의 글
  /posts/{id}/replies:
    get:
      tags: [community]
      operationId: communityReplies
      summary: 답글 목록
      security: []
      description: 회원 요청이면 그 회원이 차단한 작성자의 답글은 빠진다.
      parameters:
        - { $ref: '#/components/parameters/Id' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200':
          description: 답글 목록
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result:
                        allOf:
                          - $ref: '#/components/schemas/Page'
                          - properties:
                              items: { type: array, items: { $ref: '#/components/schemas/Reply' } }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400 잘못된 파라미터
    post:
      tags: [community]
      operationId: communityReply
      summary: 답글 작성
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/Id' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '200':
          description: 작성된 답글
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result: { $ref: '#/components/schemas/Reply' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /posts/{id}/like:
    put:
      tags: [community]
      operationId: communityLike
      summary: 좋아요
      security: [{ bearerAuth: [] }]
      description: 좋아요 추가. 멱등. 앱 toggleLike 는 현재 liked 에 따라 PUT/DELETE 중 하나를 부른다.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200': { $ref: '#/components/responses/Post' }
        '404': { $ref: '#/components/responses/Error' }   # POST4001
    delete:
      tags: [community]
      operationId: communityUnlike
      summary: 좋아요 취소
      security: [{ bearerAuth: [] }]
      description: 좋아요 취소. 멱등.
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200': { $ref: '#/components/responses/Post' }
        '404': { $ref: '#/components/responses/Error' }   # POST4001
  /reports:
    post:
      tags: [community]
      operationId: communityReport
      summary: 글·답글 신고
      security: [{ bearerAuth: [] }]
      description: 신고를 저장하고 운영자에게 원문을 메일로 보낸다. 같은 대상을 다시 신고해도 200 이고 저장·메일은 한 번뿐. 운영자는 24시간 안에 확인해 DB 에서 소프트 삭제한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetType, targetId, reason]
              properties:
                targetType: { type: string, enum: [post, reply] }
                targetId: { type: string }
                reason: { type: string, enum: [spam, abuse, sexual, scam, etc], description: 스팸·욕설·음란·사기·기타 }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '400': { $ref: '#/components/responses/Error' }   # COMMON400
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
        '404': { $ref: '#/components/responses/Error' }   # POST4001 대상 없음
  /blocks/{handle}:
    put:
      tags: [community]
      operationId: communityBlock
      summary: 회원 차단
      security: [{ bearerAuth: [] }]
      description: 단방향 차단. 요청 회원에게 그 회원의 글·답글이 목록에서 빠지고 새 답글 알림이 오지 않는다. 멱등. 차단 해제는 1차 범위 밖.
      parameters:
        - { name: handle, in: path, required: true, schema: { type: string }, description: '@ 포함 handle' }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '400': { $ref: '#/components/responses/Error' }   # MEMBER4004
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
        '404': { $ref: '#/components/responses/Error' }   # MEMBER4003
  /etfs/{code}/vote:
    put:
      tags: [community]
      operationId: communityVote
      summary: 투표 (생성·변경)
      security: [{ bearerAuth: [] }]
      description: ETF 당 계정별 1건, 변경 무제한, 마감 없음 (upsert). 응답에 현황을 싣지 않는다(투표 쓰기 경로에 읽기를 붙이지 않음). 앱은 성공 후 count 를 다시 읽는다.
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [choice]
              properties:
                choice: { $ref: '#/components/schemas/VoteChoice' }
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
        '503': { $ref: '#/components/responses/Error' }   # VOTE5001
  /etfs/{code}/vote/count:
    get:
      tags: [community]
      operationId: communityVoteCount
      summary: 투표 집계
      description: 선택별 인원. 게스트도 조회. 내 선택은 싣지 않는다. source 는 집계를 읽은 경로(Redis 장애면 db 폴백).
      security: []
      parameters: [{ $ref: '#/components/parameters/EtfCode' }]
      responses:
        '200': { $ref: '#/components/responses/VoteCount' }

  # ── notification ─────────────────────────────────────
  /notifications:
    get:
      tags: [notification]
      operationId: notificationList
      summary: 알림 목록
      parameters:
        - { name: kind, in: query, schema: { type: string, enum: [all, watch, comm] } }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200':
          description: 알림 목록
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result:
                        allOf:
                          - $ref: '#/components/schemas/Page'
                          - properties:
                              items: { type: array, items: { $ref: '#/components/schemas/Notification' } }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /notifications/unread-count:
    get:
      tags: [notification]
      operationId: notificationUnread
      summary: 안 읽은 알림 수
      responses:
        '200':
          description: 안 읽은 수
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - properties:
                      result:
                        type: object
                        properties:
                          count: { type: integer }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /notifications/{id}/read:
    post:
      tags: [notification]
      operationId: notificationRead
      summary: 알림 읽음
      parameters: [{ $ref: '#/components/parameters/Id' }]
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401
  /notifications/read-all:
    post:
      tags: [notification]
      operationId: notificationReadAll
      summary: 알림 전체 읽음
      responses:
        '200': { $ref: '#/components/responses/Empty' }
        '401': { $ref: '#/components/responses/Error' }   # COMMON401

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    deviceId:
      type: apiKey
      in: header
      name: X-Device-Id

  parameters:
    EtfCode: { name: code, in: path, required: true, schema: { $ref: '#/components/schemas/EtfCode' } }
    WatchGroup: { name: group, in: path, required: true, schema: { type: string }, description: 관심 그룹 key. 기본 그룹은 base }
    Axis: { name: axis, in: path, required: true, schema: { $ref: '#/components/schemas/Axis' } }
    Id: { name: id, in: path, required: true, schema: { type: string } }
    Cursor: { name: cursor, in: query, schema: { type: string }, description: 이전 응답의 nextCursor. 첫 페이지는 생략 }
    Size: { name: size, in: query, schema: { type: integer, default: 20, maximum: 100 } }

  requestBodies:
    EmailLogin:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [email, password]
            properties:
              email: { type: string, format: email }
              password: { type: string }

  responses:
    Empty:
      description: 성공, result 없음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiResponse' }
    Error:
      description: 실패. code 는 x-error-codes 참조
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiResponse' }
    AuthResult:
      description: 로그인·가입·갱신 결과
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result: { $ref: '#/components/schemas/AuthResult' }
    Me:
      description: 내 정보
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result: { $ref: '#/components/schemas/Me' }
    HomeBrief:
      description: 홈 브리프
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result: { $ref: '#/components/schemas/HomeBrief' }
    EtfSummaryList:
      description: ETF 요약 목록
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result: { type: array, items: { $ref: '#/components/schemas/EtfSummary' } }
    Post:
      description: 글
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result: { $ref: '#/components/schemas/Post' }
    PostPage:
      description: 글 목록 (커서)
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result:
                    allOf:
                      - $ref: '#/components/schemas/Page'
                      - properties:
                          items: { type: array, items: { $ref: '#/components/schemas/Post' } }
    VoteCount:
      description: 투표 집계
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ApiResponse'
              - properties:
                  result: { $ref: '#/components/schemas/VoteCount' }

  schemas:
    # ── 공통 ──
    ApiResponse:
      description: libs/jvm-common ApiResponse. 키는 정확히 이 넷, result 는 null 이면 생략.
      type: object
      required: [isSuccess, code, message]
      properties:
        isSuccess: { type: boolean }
        code: { type: string, description: "성공 COMMON200, 실패는 x-error-codes" }
        message: { type: string }
        result: {}
    Page:
      type: object
      required: [items, nextCursor]
      properties:
        items: { type: array, items: {} }
        nextCursor: { type: [string, 'null'] }
    AuthResult:
      type: object
      required: [accessToken, refreshToken, me]
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        me: { $ref: '#/components/schemas/Me' }
        guestMapped: { type: boolean, description: 디바이스 게스트 데이터를 계정에 매핑했는지 (PRD 게스트 데이터 정책) }

    # ── 기본 타입 (types.ts) ──
    EtfCode: { type: string, description: 'KRX 종목 코드 6자리 (예: 069500)' }
    Signal: { type: string, enum: [strongDown, down, neutral, up, strongUp] }
    Dir: { type: string, enum: [help, neutral, burden] }
    Axis: { type: string, enum: [issue, chart, macro, value, flow], description: 요인 축. 라벨(이슈·차트·매크로·밸류·수급)은 앱이 가진다 }
    VoteChoice: { type: string, enum: [buy, wait, sell] }
    NotiKind: { type: string, enum: [watch, comm] }

    EtfSummary:
      type: object
      required: [code, name, theme, price, changePct, signal]
      properties:
        code: { $ref: '#/components/schemas/EtfCode' }
        name: { type: string }
        theme: { type: string, description: 테마 key. 로고 색은 앱이 여기서 매핑 }
        price: { type: number }
        changePct: { type: number }
        signal: { $ref: '#/components/schemas/Signal' }
        hot: { type: boolean }
        sub: { type: string }
    Theme:
      type: object
      required: [key, label, group]
      properties:
        key: { type: string }
        label: { type: string }
        group: { type: string, enum: [industry, asset] }
        hot: { type: boolean }
    WatchGroup:
      type: object
      required: [key, label, count]
      properties:
        key: { type: string }
        label: { type: string }
        count: { type: integer }
    HomeBrief:
      type: object
      required: [asOf, groups, group, band, changePct, etfs]
      properties:
        asOf: { type: string, format: date-time, description: 기준 시각. "오늘 08:30 기준" 문구는 앱이 만든다 }
        groups: { type: array, items: { $ref: '#/components/schemas/WatchGroup' } }
        group: { type: string }
        band: { $ref: '#/components/schemas/Signal' }
        changePct: { type: number }
        etfs: { type: array, items: { $ref: '#/components/schemas/EtfSummary' } }
    Me:
      type: object
      required: [nick, handle]
      properties:
        nick: { type: string }
        handle: { type: string, description: 아바타 색은 앱이 handle 로 매핑 }
        email: { type: string }
        disclaimerAcceptedAt: { type: string, format: date-time }
    MePatch:
      type: object
      properties:
        nick: { type: string }
        handle: { type: string }

    # ── 커뮤니티 ──
    Post:
      type: object
      required: [id, etf, author, time, body, like, reply, repost, liked]
      properties:
        id: { type: string }
        etf:
          type: object
          required: [code, theme, short]
          properties:
            code: { $ref: '#/components/schemas/EtfCode' }
            theme: { type: string }
            short: { type: string }
        author:
          type: object
          required: [name, handle]
          properties:
            name: { type: string }
            handle: { type: string }
        time: { type: string, format: date-time, description: 작성 시각. "3분 전" 은 앱이 만든다 }
        title: { type: string }
        body: { type: string }
        quoteTag: { type: string }
        repostOf:
          type: object
          properties:
            name: { type: string }
            handle: { type: string }
            time: { type: string, format: date-time }
            body: { type: string }
        like: { type: integer }
        reply: { type: integer }
        repost: { type: integer }
        liked: { type: boolean }
        views: { type: integer }
        mine: { type: boolean }
        blocked: { type: boolean, description: 요청 회원이 차단한 작성자의 글. 글 상세에서만 true 로 온다 }
    Reply:
      type: object
      required: [id, author, time, body]
      properties:
        id: { type: string }
        author:
          type: object
          required: [name, handle]
          properties:
            name: { type: string }
            handle: { type: string }
        time: { type: string, format: date-time }
        body: { type: string }
    VoteCount:
      type: object
      required: [buys, waits, sells, source]
      properties:
        buys: { type: integer }
        waits: { type: integer }
        sells: { type: integer }
        source: { type: string, enum: [redis, db] }

    # ── ETF 상세 ──
    Candle:
      type: object
      required: [o, h, l, c]
      properties:
        o: { type: number }
        h: { type: number }
        l: { type: number }
        c: { type: number }
    ChartData:
      type: object
      required: [range, candles, ma5, ma20, axis]
      properties:
        range: { type: string }
        candles: { type: array, items: { $ref: '#/components/schemas/Candle' } }
        ma5: { type: array, items: { type: [number, 'null'] } }
        ma20: { type: array, items: { type: [number, 'null'] } }
        axis: { type: array, items: { type: string } }
    MoveInfo:
      type: object
      required: [at, text, foot, sheetTitle, groups]
      properties:
        at: { type: string, format: date-time, description: 설명 생성 시각. "10분 전" 은 앱이 만든다 (앱 필드 ago 대체) }
        text: { type: string }
        foot: { type: string }
        sheetTitle: { type: string }
        groups:
          type: array
          items:
            type: object
            required: [head, items]
            properties:
              head: { type: string }
              items:
                type: array
                items:
                  type: object
                  required: [dir, t]
                  properties:
                    dir: { $ref: '#/components/schemas/Dir' }
                    t: { type: string }
                    sub: { type: string }
    HeatCell:
      type: object
      required: [name, weight, changePct, dir]
      properties:
        name: { type: string }
        weight: { type: number }
        changePct: { type: number }
        dir: { $ref: '#/components/schemas/Dir' }
    HoldingRow:
      type: object
      required: [name, weight, dir, desc]
      properties:
        name: { type: string }
        weight: { type: number }
        dir: { $ref: '#/components/schemas/Dir' }
        desc: { type: string }
    EtfDetailData:
      type: object
      required: [insight, stocks, themes, holdings, themeRows, stockCount, info, blurb]
      properties:
        insight:
          type: object
          required: [dir, text]
          properties:
            dir: { $ref: '#/components/schemas/Dir' }
            text: { type: string }
        stocks: { type: array, items: { $ref: '#/components/schemas/HeatCell' } }
        themes: { type: array, items: { $ref: '#/components/schemas/HeatCell' } }
        holdings: { type: array, items: { $ref: '#/components/schemas/HoldingRow' } }
        themeRows: { type: array, items: { $ref: '#/components/schemas/HoldingRow' } }
        stockCount: { type: integer }
        info:
          type: array
          items:
            type: object
            required: [k, v]
            properties:
              k: { type: string }
              v: { type: string }
        blurb: { type: string }

    # ── 분석 ──
    AxisRead:
      type: object
      required: [axis, dir, summary, hasPage]
      properties:
        axis: { $ref: '#/components/schemas/Axis' }
        dir: { $ref: '#/components/schemas/Dir' }
        summary: { type: string }
        hasPage: { type: boolean }
    DailyDate:
      type: object
      required: [key, w, d, hasDaily]
      properties:
        key: { type: string, format: date }
        w: { type: string, description: 요일 표시 }
        d: { type: string, description: 일 표시 }
        hasDaily: { type: boolean }
    DailyAnalysis:
      type: object
      required: [date, dates, headTitle, question, dateline, now, synth, axes, title, todayDate, today, args, closingTitle, neg, pos, close]
      properties:
        date: { type: string, format: date }
        dates: { type: array, items: { $ref: '#/components/schemas/DailyDate' } }
        headTitle: { type: string }
        question: { type: string }
        dateline: { type: string }
        now: { $ref: '#/components/schemas/Signal' }
        prev: { $ref: '#/components/schemas/Signal' }
        synth: { type: string }
        axes: { type: array, items: { $ref: '#/components/schemas/AxisRead' } }
        title: { type: string }
        todayDate: { type: string }
        today: { type: array, items: { type: string } }
        args:
          type: array
          items:
            type: object
            required: [no, claim, body]
            properties:
              no: { type: string }
              claim: { type: string }
              body: { type: array, items: { type: string } }
        closingTitle: { type: string }
        neg: { type: array, items: { type: string } }
        pos: { type: array, items: { type: string } }
        close: { type: string }
    FactorPage:
      type: object
      required: [axis, dir, headline]
      properties:
        axis: { $ref: '#/components/schemas/Axis' }
        dir: { $ref: '#/components/schemas/Dir' }
        headline: { type: string }
        events:
          type: array
          items:
            type: object
            required: [dir, k, body]
            properties:
              dir: { $ref: '#/components/schemas/Dir' }
              k: { type: string }
              body: { type: string }
        chartInds:
          type: array
          items:
            type: object
            required: [dir, name, d]
            properties:
              dir: { $ref: '#/components/schemas/Dir' }
              name: { type: string }
              d: { type: string }
        judg: { type: array, items: { type: string } }
    MetricTile:
      type: object
      required: [label, value]
      properties:
        label: { type: string }
        value: { type: string }
        dir: { $ref: '#/components/schemas/Dir' }
        note: { type: string }
        wide: { type: boolean }
    MetricPage:
      type: object
      required: [axis, dir, verdict, tiles, hasDetail]
      properties:
        axis: { $ref: '#/components/schemas/Axis' }
        dir: { $ref: '#/components/schemas/Dir' }
        verdict: { type: string }
        tiles: { type: array, items: { $ref: '#/components/schemas/MetricTile' } }
        hasDetail: { type: boolean }
    # ── 탐색·테마 ──
    RankRow:
      type: object
      required: [etf, rank, title, chips, ready]
      properties:
        etf: { $ref: '#/components/schemas/EtfSummary' }
        rank: { type: integer }
        title: { type: string }
        chips: { type: array, items: { type: string } }
        ready: { type: boolean }
    Notification:
      type: object
      required: [id, kind, time, title, body, read]
      properties:
        id: { type: string }
        kind: { $ref: '#/components/schemas/NotiKind' }
        etf: { $ref: '#/components/schemas/EtfCode' }
        postId: { type: string }
        time: { type: string, format: date-time }
        title: { type: string }
        body: { type: string }
        read: { type: boolean }
